{% extends "essentials/base.html" %} 
{% load static %} 
{% block title %} Invoice {% endblock %} 

{% block header %} {% include "essentials/heading/header.html" %} {% endblock %} 
{% block content %}
<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content content-boxed">
        <!-- Invoice -->
        <div class="block">
            <div class="block-header">
                <h3 class="block-title">#INV{{order.id}}</h3>
                <div class="block-options">
                    <a class="mr-5" onclick="printReceipt()">Print Receipt</a>
                    <!-- Print Page functionality is initialized in Helpers.print() -->
                    <button type="button" class="btn-block-option" onclick="One.helpers('print');">
                        <i class="si si-printer mr-1"></i> Print Invoice
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="p-sm-4 p-xl-7">
                    <!-- Invoice Info -->
                    <div class="row mb-4">
                        <!-- Company Info -->
                        <div class="col-6 font-size-sm">
                            <p class="h3">{{company}}</p>
                        </div>
                        <!-- END Company Info -->

                        <!-- Client Info -->
                        <div class="col-6 text-right font-size-sm">
                        </div>
                        <!-- END Client Info -->
                    </div>
                    <!-- END Invoice Info -->

                    <!-- Table -->
                    <div class="table-responsive push">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 60px;"></th>
                                    <th>Product</th>
                                    <th class="text-center" style="width: 90px;">Unit</th>
                                    <th class="text-right" style="width: 120px;">Qnt</th>
                                    <th class="text-right" style="width: 120px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in order_in_cart %}
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="font-w600 font-size-sm">
                                            {{product.product.name}}
                                        </td>
                                        <td class="d-none d-sm-table-cell font-size-sm">
                                            <em class="text-muted">{{product.product.price}}</em>
                                        </td>
                                        <td class="d-none d-sm-table-cell font-size-sm">
                                            <em class="text-muted">{{product.quantity}}</em>
                                        </td>
                                        <td class="text-center font-size-sm">{{product.total_price}}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" class="font-w700 text-uppercase text-right bg-body-light">Total Due</td>
                                    <td class="font-w700 text-right bg-body-light">{{payment.amount_due}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="font-w500 text-uppercase text-right bg-body-light">Amount Paid</td>
                                    <td class="font-w700 text-right bg-body-light">{{payment.amount_paid}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="font-w500 text-uppercase text-right bg-body-light">Total Change</td>
                                    <td class="font-w700 text-right bg-body-light">{{payment.amount_returned}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END Table -->

                    <!-- Footer -->
                    <p class="font-size-sm text-muted text-center py-3 my-3 border-top">
                        Thank you very much for doing business with us. We look forward to working with you again!
                    </p>
                    <p class="font-size-sm text-muted text-center py-3 my-3 border-top">
                        <a href="{% url 'employee-verification' %}">click here to return to main page </a>
                    </p>
                    <!-- END Footer -->
                </div>
            </div>
        </div>
        <!-- END Invoice -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock%}
{% block footer %}
{% include "essentials/footer/footer.html" %} 
{% endblock %}
{% block script %}
<script>
    function printReceipt(){
        let a = window.open('', '', 'height=500, width=500');
        a.document.write('<html>');
        a.document.write('<body><p align="center"><b>Switch</b></p>');
        a.document.write('<p align="center">{{company}}</p>');
        a.document.write('<p align="center"><i>{{order.order.location.house_number}}</i>');
        a.document.write(' <i>{{order.order.location.address}}</i>');
        a.document.write('<br /><i>{{order.order.location.city}}</i>');
        a.document.write('<br /><i>{{order.order.location.phone}}</i>');
        a.document.write('<br /><b>__________________</b>')
        a.document.write('</p>')
        a.document.write(
        '<table align="center">'
        +'<tr>'
        +'<th>Transact Type</th>'
        +'<td>Exchange</td>'
        +'</tr>'
        +'<tr>'
        +'<th>Transact Number</th>'
        +'<td>INV{{order.order.id}}</td>'
        +'</tr>'
        +'<tr>'
        +'<th>Employee</th>'
        +'<td>{{order.order.employee}}</td>'
        +'</tr>'
        +'<tr></tr>'
        +'<tr>'
        +'<td colspan="2"><i>From {{order.product.from_country.currency}} to {{order.product.to_country.currency}}</i></td>'
        +'</tr>'
        +'<tr>'
        +'<th>Rate</th>'
        +'<td>{{order.product.price}}</td>'
        +'</tr>'
        +'<tr>'
        +'<td>Amount (From)</td>'
        +'<td>{{order.quantity}}</td>'
        +'</tr>'
        +'<tr>'
        +'<td>Amount (To)</td>'
        +'<td>{{order.total_price}}</td>'
        +'</tr>'
        +'<tr>'
        +'<th>Subtotal</th>'
        +'<td>{{order.quantity}}</td>'
        +'</tr>'
        +'<tr>'
        +'<td>Fee {{order.fee.amount}}</td>'
        +'<td>{{order.fee_amount}}</td>'
        +'</tr>'
        +'<tr>'
        +'<th>Total Due</th>'
        +'<td>{{order.exchange_total_due}}</td>'
        +'</tr>'
        +'<tr>'
        +'<th>Amount Paid</th>'
        +'<td>{{payment.amount}}</td>'
        +'</tr>'
        +'<tr>'
        +'<th>Amount Paid</th>'
        +'<td>{{payment.amount}}</td>'
        +'</tr>'
        +'<tr>'
        +'<th>Status</th>'
        +'<td>{{order.order.status}}</td>'
        +'</tr>'
        +'</table>'
        );
        a.document.write('<br />')
        a.document.write('<p align="center"><i>Thank you very much for doing business with us. We look forward to working with you again!</i></p>')
        a.document.write('</body></html>');
        a.document.close();
        a.print();
    }

</script> 
{% endblock %}